{{ 'custom-designer.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}


<div class="container">
  <div class="row mb-5">
    {%- if section.settings.section_header != blank -%}
      <div class="col-12 text-center">
        <h2>{{ section.settings.section_header }}</h2>
      </div>
    {%- endif -%}
  </div>
  <div class="row">

    {%- for designer in shop.metaobjects.product_ingredients.values -%}
      {%- if designer.enable == true -%}

        <div class="col-xl-3 col-lg-3 col-md-12 text-center card-item">
          <img src="{{ designer.image | img_url: 'medium' }}" alt="{{ designer.image.alt }}">
          <h3>{{ designer.display_name }}</h3>
          {{ designer.brief_description | metafield_tag }}
          <a
            href="#"
            class="toggle mt-2"
            data-target="myPopup"
            data-id="{{ designer.system.id }}">Learn More</a>

          <div class="popup-head d-none" data-id="{{ designer.system.id }}">
            <div class="header-container">
              <div class="popup-img">
                <img class="design-img" src="{{ designer.image | img_url: 'medium' }}" />
              </div>
              <div class="popup-header">
                <h3 class="design-name">{{ designer.display_name }}</h3>
                {{ designer.other_info | metafield_tag }}
                <span class="close toggle" data-target="myPopup">close</span>
              </div>
            </div>
            <div class="popup-body">
              {{ designer.main_description | metafield_tag }}
            </div>
          </div>

        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

<div id="myPopup" class="popup hide">
  {% render 'designer-popup-info' %}
</div>


{% schema %}
  {
    "name": "Product Designer",
    "tag": "section",
    "class": "product-designer",
    "settings": [
      {
        "type": "text",
        "id": "section_header",
        "label": "Section Header",
        "default": "Put Some Title"
      }, {
        "id": "linktext",
        "type": "text",
        "label": "Button text",
        "default": "Learn More"
      }, {
        "id": "link",
        "type": "url",
        "label": "Button link"
      }
    ],

    "presets": [
      {
        "category": "Product Designer",
        "name": "Product Designer",
        "settings": {}
      }
    ]
  }
{% endschema %}


<script>

  $(document).on('click', '.toggle', function(event) {
    event.preventDefault();

    let target = $(this).data('target');
    let designerID = $(this).data('id');
    let designer_popup = $(`.popup-head[data-id="${designerID}"]`).html();
    $('.popup-container .popup-head').html(designer_popup);

    $('#' + target).toggleClass('hide');

  });
</script>